@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.login {
  height: 100%;
}

#background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(images/backgroundlarge.jpg);
  background-size: 1750px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

header {
  width: 100%;
  background-color: #02AFD1;
  height: 100px;
  display: block;
  clear: both;
}

img.icon {
  height: 100px;
  width: auto;
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.nav {
  margin-right: 10px;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
}

header > h1 {
  color: white;
  margin: auto;
}

aside {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .5);
  display: block;
  box-shadow: 0 1px 3px;
}

.content {
  width: 90%;
  height: 100%;
  margin: auto;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 10px;
}

div.period {
  border-bottom: dotted 1px black;
  display: inline-block;
}

.med {
  margin-left: 30px;
  border-bottom: 1px solid black;
}

#main {
  margin: 15px auto;
  text-align: center;
  align-items: center;
  width: 250px;
}

fieldset.login {
  border: 0;
}

input {
  margin: 5px;
  padding: 2px;
  border-radius: 3px;
}
