* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: grey;
  height: 100px;
}

img.icon {
  height: 100px;
  width: auto;
  float: right;
  display: inline-block;
}

h1 {
  color: white;
  display: inline-block;
}

aside {
  float: left;
  width: 100%;
  border: 1px solid black;
  display: block;
}

div.med {
  border-bottom: dotted 1px black;
}