@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body.login {
  height: 100%;
}

#background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../images/backgroundlarge.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: fixed;
}

header {
  width: 100%;
  background-color: white;
  height: 60px;
  display: block;
  clear: both;
  position: fixed;
  z-index: 2;
}

img.icon {
  height: 50px;
  width: auto;
  display: inline-block;
  margin-bottom: 15px;
}

.nav {
  margin-right: 10px;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  color: #017990;
  margin: 5px;
}

h2 {
  font-size: 18pt;
}

h3 {
  color: rgba(0,0,0,.5);
  font-size: 14pt;
}

aside {
  width: 100%;
  /*border-top: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);*/
  display: block;
  box-shadow: 0 1px 2px grey;
  background-color: #017990;
  color: white;
  min-height: 25px;
  position: fixed;
  top: 60px;
  z-index: 2;
}

aside a {
  color: white;
  text-align: right;
  float: right;
  margin-right: 5px;
  font-weight: bold;
}

aside a:hover {
  color: #FFFFFF;
}

.content {
  height: 100%;
  margin: auto;
  padding: 10px;
  position: relative;
  top: 100px;
}

div.period {
  border: solid 1px grey;
  display: block;
  background-color: rgba(255, 255, 255, .75);
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  min-width: 300px;
}

.med {
  margin-left: 30px;
  border-top: 1px solid black;
}

.med > p {
  margin: 0;
}

#login-main {
  text-align: center;
}

#main {
  margin: 15px auto;
  text-align: center;
  align-items: center;
  width: 250px;
}

#mainText {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background: rgba(255, 255, 255, .5);
  text-align: justify;
  font-size: 10pt;
}

#mainText p {
  margin: 0;
}

fieldset.login {
  border: 0;
}

input {
  margin: 3px;
  padding: 2px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid grey;
}

input.button {
  background-color: white;
  margin-top: 10px;
}

#test {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.timeDiv {
  margin-left: 1em;
  border-bottom: 1px black dotted;
}

.timeDiv:last-child {
  border: none;
}

.checkbox {
  display: inline-block;
  margin-left: -0.1em;
  height: 1em;
  width: 1em;
}

.medName {
  display: inline-block;
}

.medDiv {
  margin-left: 1em;
  border-bottom: 1px lightgrey solid;
}

.medDiv:last-child {
  border: none;
}

.medDiv h2 {
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.medDiv p {
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

.notes {
  margin-left: 1em;
}

.generic {
  margin-left: 1em;
  color: rgba(0, 0, 0, .5);
  font-size: .8em;
}

.firebaseui-link {
  color: #017990 !important;
}

.firebaseui-button {
  background-color: #017990 !important;
  border: 2px solid #249DB2 !important;
}

.firebaseui-button:hover {
  background-color: #249DB2 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add a Medication and Logout button*/
#addMed, #logout, #pharmacy {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 16pt;
  left: 0;
  position: relative;
  background: none;
  border: none;
  outline: 0;
}

#addMed {
  background-color: #6ee5c7;
  padding: 0.2em;
  border-radius: 5px;
  border: 2px solid #bef7e9;
  margin: 0.1em;
}

#addMed:hover {
  background-color: #bef7e9;
  cursor: pointer;
}

#logout {
  float: right;
  font-size: 10pt;
  margin-right: 1em;
  margin-top: 1em;
}

#logout:hover, #pharmacy:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Modal */
#modal-content h1 {
  color: #017990;
}
#image {
  height: 4em;
  width: 4em;
  /* border: 1px solid black; */
  float: left;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
}

#image i {
  line-height: 1.2em;
  font-size: 40pt;
  color: #017990;
}

#drugName {
  width: 75%;
  height: 1.5em;
  margin-bottom: 0.2em;
  font-size: 16pt;
}

#genericName {
  width: 100%;
  display: none;
}
#strength {
  width: 9em;
}

#auxWarnings {
  max-width: 100%;
}

#auxWarnings option {
  font-size: 8pt;
}

input[type="radio"] {
  margin-left: 0.5em !important;
}

.button {
  margin-right: 0.1em !important;
  outline: 0;
}

.button:hover {
  cursor: pointer;
  background-color: #259db2;
}

#welcome {
  font-size: 18pt;
}

#time {
  float: right;
  font-size: 18pt;
  padding: 10px;
}

.addButton {
  padding: 0.5em;
  background-color: #017990 !important;
  color: #FFFFFF;
  font-weight: 700;
  border: 2px solid #259db2;
  outline: 0;
}

.addButton:hover {
  background-color: #259db2 !important;
}

#modal, #pharmModal, #deleteModal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#modal-content, #pharmModal-content, #deleteModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 23em;
  border-radius: 5px;
  /* display: none; */
}

/* Pharmacy info modal */
#addNewPharm {
  font-weight: 700;
  color: #017990;
}

#addNewPharm:hover {
  text-decoration: underline;
  cursor: pointer;
}

#pharmEdit {
  display: none;
}

#pharmForm {
  display:none;
}

#cancelPharmEdit {
  display: none;
}

.pharmInfoField {
  width: 20em;
}

#pharmProv {
  width: 8em;
}

#pharmPC {
  width: 11.366em;
}

#pharmInfo h6 {
  color: #7F7F7F;
  margin: 0.2em 0 0 1em;
}

#pharmInfo p {
  margin: 0 0 0em 2em;
}

#pharmInfo span {
  margin: 0 1em;
}

/* Edit/Delete function */
.editIcon {
  margin: 0 0.5em 0 1em;
}

.editIcon, .deleteIcon {
  color: #7F7F7F;
  display: none;
}

.editIcon:hover, .deleteIcon:hover {
  cursor: pointer;
}


.lateAlert, .dueAlert {
  font-size: 1.5em;
  margin-right: 4px;
  padding: 0;
  display: none;
}

.lateAlert {
  color: red;
  padding: 0 8px;
}

.dueAlert {
  color: orange;
}

.late .lateAlert{
  display: inline;
}

.due .dueAlert{
  display: inline;
}

#asNeeded .medDiv {
  margin-left: 2em;
}

.door {
  font-size: 16pt;
}

/* Delete function popup */
#deleteModal-content h2 {
  color: #017990;
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  #pharmText, #logoutText {
    display: none
  }
}